<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Registro - EcoSmart</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet"/>
  {% load static %}
  <link rel="stylesheet" href="{% static 'Auth/registro.css' %}">
</head>
<body>
  <main class="registro">
    <h2>Registrate</h2>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div>
        <label for="{{ registerForm.username.id_for_label }}">Nombre de usuario</label><br>
        {{ registerForm.username }}<br>
      </div>
      <div>
        <label for="{{ registerForm.first_name.id_for_label }}">Nombre</label><br>
        {{ registerForm.first_name }}<br>
      </div>
      <div>
        <label for="{{ registerForm.last_name.id_for_label }}">Apellido</label><br>
        {{ registerForm.last_name }}<br>
      </div>
      <div>
        <label for="{{ registerForm.email.id_for_label }}">Email</label><br>
        {{ registerForm.email }}<br>
      </div>
      <div>
        <label for="{{ registerForm.password1.id_for_label }}">Contraseña</label><br>
        {{ registerForm.password1 }}<br>
      </div>
      <div>
        <label for="{{ registerForm.password2.id_for_label }}">Confirmar contraseña</label><br>
        {{ registerForm.password2 }}<br>
      </div>

      {% for field, error in errores.items %}
        <p class="mensajes">{{ field }}: {{ error }}</p>
      {% endfor %}

      <button type="submit">Registrarse</button>
    </form>

    <p class="redirect">
      ¿Ya tienes cuenta? <a href="http://127.0.0.1:8000/Login/">Inicia sesión</a>
    </p>
  </main>
</body>
</html>
