<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Registro - EcoSmart</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet"/>
  {% load static %}
  <link rel="stylesheet" href="{% static 'Auth/registro.css'%}">
</head>
<body>
  <main class="registro">
    <h2>Registrate</h2>
    <form method="POST">
      {% csrf_token %}
      {% for campo in registerForm %}
        <div class="campo">
          <label for="{{ campo.id_for_label }}">{{ campo.label }}</label>
          {{ campo }}
        </div>
      {% endfor %}

      <button type="submit">Registrarse</button>

      <p class="redirect">
        ¿Ya tienes cuenta? <a href="{% url 'Login' %}">Inicia sesión</a>
      </p>
    </form>
  </main>
</body>
</html>
