  <!-- Menú inferior -->
  <nav class="menu-inferior">
    <a href="{% url 'Inicio'%}" class="nav-btn">
        <i class="fa fa-book"></i>
        <span>Inicio</span>
    <a href="{% url 'transacciones'%}" class="nav-btn">
        <i class="fa fa-plus-circle"></i>
        <span>Agregar</span>
    <a href="{% url 'Estadisticas'%}" class="nav-btn">
        <i class="fa fa-chart-pie"></i>
        <span>Estadisticas</span>
    <a href="configuracion.html" class="nav-btn">
        <i class="fa fa-cog"></i>
        <span>Ajustes</span>
  </nav>