<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Document</title>
</head>
<body>
    {% include 'header.html'%}

    <main>

        <H1>Login</H1>

        <form class="caja-login" method="GET" action="{% url 'login' %}" >

            <label for="username">Usuario</label>
            <input type="text" name="username">
            <label for="">Contraseña</label>
            <input type="password" name="password">
            <input type="button" value="Registrase" class="boton">
        </form>

    </main>

    {% include 'footer.html'%}
</body>
</html>