<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <title>Document</title>
</head>
<body>
    {% include '../header.html'%}

    <main>

        <H1>Register</H1>

        <form class="caja-register" method="POST" action="{% url 'register'%}">
            {% csrf_token %}
                {% for campo in registerForm %}
                    <div>
                        <!-- Mostrar la etiqueta del campo -->
                        <label for="{{ campo.id_for_label }}">{{ campo.label }}</label> <br>
                        <!-- Mostrar el campo de formulario -->
                        {{ campo }} <br>
                    </div>
            {% endfor %}            {%for field,error in errores.items%}
              {{field}}:{{error}} 
            {% endfor %}
            <input type="submit" value="Registrase" class="boton">
        </form>

        <div class="error">

        </div>


    </main>

    {% include 'footer.html'%}
    
</body>
</html>