<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión - EcoSmart</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'auth/styleslog.css' %}">
</head>
<body>
    <main class="login">
        <h2>Iniciar sesión</h2>

        <form method="POST">
            {% csrf_token %}
            
            <label for="username">Usuario</label>
            <input type="text" name="username" required>

            <label for="password">Contraseña</label>
            <input type="password" name="password" required>

            <button type="submit">Entrar</button>
        </form>

        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </main>
</body>
</html>
